@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Space Grotesk", sans-serif;
}

@layer components {
  /* Hover zoom effect */
  .hover-zoom {
    @apply transition-transform duration-300 ease-in-out;
  }

  .hover-zoom:hover img {
    @apply transform scale-105;
  }

  /* Slick slider custom styles */
 .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px; /* Adjust as needed */
}

.slick-dots li {
  margin: 0 4px; /* Adjust spacing between dots */
}

.slick-dots li button {
  width: 10px; /* Width of square */
  height: 10px; /* Height of square */
  background-color: #ccc;
  border: none;
  border-radius: 0; /* Initially square */
  transition: all 0.3s ease-in-out;
}

.slick-dots li.slick-active button {
  width: 20px; /* Width of circle when active */
  height: 20px; /* Height of circle when active */
  background-color: transparent;
  border: 2px solid black; /* Border for active dot */
  border-radius: 50%; /* Make it a circle */
}

/* Custom line between dots */
.slick-dots li:not(:last-child) {
  position: relative;
}

.slick-dots li:not(:last-child)::after {
  content: '';
  position: absolute;
  background-color: #ccc; /* Color of the line */
  height: 1px; /* Height of the line */
  width: 8px; /* Width of the line */
  left: 100%; /* Position it at the end of the dot */
  top: 50%;
  transform: translateY(-50%);
}

}


 .card:hover .card-hover {
            transform: scale(1.1);
          }

.card:hover .card-hovertext{
    color: rgb(27, 120, 234) ;
    transition:all ;
     opacity: 1;
      text-decoration: underline ;
}


.group {
  position: relative;
}

.group span.absolute {
  bottom: -1px;
  left: 0;
  width: 0;
  transition: all 0.3s;
  height: 0.5px;
  background-color: #6366f1; /* Change this color as needed */
}

.group:hover span.absolute {
  width: 100%;
}
